<nav class="flex items-center justify-between px-4 py-2 bg-slate-900 text-white">
	<div class="flex items-center gap-4">
    <a routerLink="/" class="text-xl font-bold">ImpuCalc</a>
		<a routerLink="/inicio" class="font-semibold">Inicio</a>
		<a routerLink="/operaciones-igv" class="font-semibold" *ngIf="authenticated">Operaciones IGV</a>
	</div>
	<div class="flex items-center gap-2">
		<button *ngIf="!authenticated" routerLink="/iniciar-sesion" class="px-3 py-1 rounded bg-slate-700 hover:bg-slate-600">Ingresar</button>
		<button *ngIf="authenticated" (click)="logout()" class="px-3 py-1 rounded bg-red-600 hover:bg-red-500">Salir</button>
	</div>
</nav>
